[general]
ip_dst = 10.10.1.5
ip_s1 = 10.10.1.1
ip_s2 = 10.10.1.2
vnf1 = 10.10.1.3
vnf2 = 10.10.1.4
vnf3 = 10.10.1.6
vnf4 = 10.10.1.7

vnf1_interface = W
vnf2_interface = X
vnf3_interface = Y
vnf4_interface = Z

controller_type = PI

file_attackerList = /tmp/attacker.txt
file_path_pi = /user/<username>/Control/PI_PID_controller/NFV_ratio_4VNF.txt




